<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
          <dt>Average Rating</dt>
          <dd><%= @product.reviews.average(:rating).present? ? @product.reviews.average(:rating).round(2) : 0 %></dd>
          <br/>
          <dd><b>Leave a Review<b></dd>
          <hr>
          <br/>

          <% if current_user %>
          <%= form_for [@product, Review.new] do |form| %>
              <% if form.object.errors.any? %>
                <div class="alert alert-danger">
                  <strong>The following errors prevented saving:</strong>
                  <ul>
                    <% form.object.errors.full_messages.each do |error| %>
                      <li><%= error %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>

              <div class="form-group">
               <dt> <%= form.label :rating %></dt>
               <dd> <%= form.select :rating, [*1..5], class: 'form-control' %> </dd>
              </div>
              <div class="form-group">
                <dt><%= form.label :description %> </dt>
                <dd><%= form.text_area :description, class: 'form-control' %> </dd>
              </div>

              <dd><%= form.submit 'Add review', class: 'btn btn-primary' %></dd>
            <% end %>
          <% end %>
        </dl>
      </div>
    </div>
  <hr>
    <div class="row">
    <% @product.reviews.order(created_at: :desc).each do |review| %>
    <div class="col-sm-4">
     Rating: <%= review.rating %> / 5
      </div>
      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt><%= review.user.first_name %>  <%= review.user.last_name%></dt>
          <dd><%= review.description %>

          <% if current_user && current_user.id == review.user_id %>
            <%= link_to fa_icon('trash'), [@product, review], class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
          <% end %>
          </dd>
        </dl>
      </div>
      <% end %>
    </div>
  </article>


</section>
